p{
	color: green;
}
#container{
	position: relative;
}
#container img{
	transition:opacity 1s ease-in-out;
	position:absolute;
}
.transparent{
	opacity:0;
}
#clickMe{
/*	background-color: red;*/
	position: absolute;
}

#container-2{
	
	margin-bottom: 20px;

}
button{
 cursor: pointer;
 width: 100px;
 height: 30px;
 background-color: green;
 outline: none;
}